* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
   
    
    .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0%;
    height: 90%;
    top: -90%;
    background-color: orange;
    align-items: center;
    width: 20%;
    transition: all 1s;
    border: solid black 4px;
    }
    
    .navLinks li {
      list-style: none;
    }
    
    
    .navLinks a{
    
      text-decoration: none;
      color: black;
      letter-spacing: 1%;
      font-weight: bold;
    font-size: 100%;
    }
    
    .burger div {
    
      width: 25px;
      height: 3px;
      background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
    }
    
    
    .toggle .line1 {
    
    transform: rotate(-45deg) translate(-5px, 6px);
    }
     .toggle .line2 {
      opacity: 0;
    }
    
    .toggle .line3{
    
      transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .navActive{
    transform: translateY(100vh);
    }
    
    
    .burger {
        position: absolute;
        left: 10px;
        top:10px;
      margin-right: 50px;
      cursor:pointer;
    }
    








#container {
display:grid;
grid-template-areas: 
'hd hd hd hd'
'mn mn mn mn'

}


header {

    grid-area: hd;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10vh;
    background-color: orange;
    font-family: sans-serif;
    border: solid black 4px;
    
}

main {
    grid-area: mn;
    height: 90vh;
    text-align: center;
    font-size: 100%;
    background-image: url('../img/gameblur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    border: solid black 4px;
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display:flex;
    width: 300px;
    height: 100px; 
    
}

.titel {
text-align: center;
    
}

#img {
    height: 7%;
    width:auto;
    position: absolute;
    top: 5px;
    left: 50px;
}

    


h1 {

    position: absolute;
}

@media only screen and (max-width: 600px) {
  

    }
